body {
    background-color: rgb(231, 231, 231);
    font-family: "Georgia";
    font-size: 0.9em;
}

h1 {
    font-size: 1.2em;
    text-shadow: 2px 2px rgba(216, 216, 216, 0.6);
    color: rgb(56, 56, 56);
    margin-top: 0;
}

h2 {
    margin: 15px 0 11px 0;
    font-size: 0.75em;
    text-shadow: 2px 2px rgba(216, 216, 216, 0.6);
    color: rgb(56, 56, 56);

}

a {
    color: #104c97;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #116CCC;
}

div {
    margin: 8px;
}

#wrapper {
    width: 920px;
    margin: 0 auto;
    position: relative;
}

#wrapper .page {
    margin: 0;
    position: absolute;
    top: 53px;
    z-index: 2;
    min-height: 250px;
}

.full-column {
    width: 882px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    padding: 15px;
}

#leftColumn {
    width: 275px;
    float: left;
    margin: 0;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #CCC;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#leftColumn .content-block {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#dialogContent input[type="text"] {
    margin: 10px 13px 0 5px;
    width: 45px;
}

#leftColumn input,
#leftColumn select {
    margin: 10px 0 0 12px;
}

#leftColumn textarea {
    width: 202px;
    height: 75px;
    margin: 15px 2px 0 12px;
}

#leftColumn label {
    display: block;
    margin: 10px 0 0 5px;
}

#leftColumn #sendRequestBtn {
    margin: 5px 0 10px 50px;
}

#rightColumn {
    width: 635px;
    float: left;
    margin: 0 0 15px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#rightColumn .content-block {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -3px 0px 10px rgba(184, 184, 184, 0.9);
}

.content-block {
    /*border-radius: 5px;*/
    background-color: #FEFEFE;
    padding: 15px;
    /*border: 1px solid rgb(216, 216, 216);*/
    min-height: 60px;
    margin: 0;
}

.content-block label {
    color: rgb(112, 112, 112);
    font-size: 0.9em;
}

.one-column-float {
    float: left;
    width: 100%;
    text-align: left;
    margin: 10px 21px;
}

.two-column-float {
    float: left;
    width: 48%;
    text-align: center;
    margin: 0;
}

.three-column-float {
    float: left;
    width: 33%;
    text-align: center;

    margin: 0;
}

.four-column-float {
    float: left;
    width: 25%;
    text-align: center;

    margin: 0;
}

input {
    margin-left: 5px;
}

.small-input {
    width: 45px;
}

.medium-input {
    width: 80px;
}

.sub-text {
    font-size: 0.6em;
    color: #474747;
    margin: 2px 0 2px 15px;
}

.input-error {
    border: 1px solid red;
}

#logContainer {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgb(216, 216, 216);
    margin: 5px;
}

.user-table-selected {
    background-color: #b5ffaa;
    border-color: rgb(35, 183, 189) !important;
}

.user-table {
    border-width: 0 0 1px 0;
    border-color: #CCC;
    border-style: solid;
    width: 590px;
}

.user-table .picture-td {
    width: 50px;
}

.user-table .number-td {
    width: 20px;
}

.user-table .description-td {
    width: 460px;
}

.user-table td {
    padding: 4px;
}

.user-table img {
    border-radius: 6px;
}

#loadingImage {
    float: right;
    margin: -24px 0 7px 0;
}

.all-checkbox {
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}

.follow-btn {
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
}

#dialogBackground {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: -8px;
    z-index: 100;
}

#dialogContent {
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgba(154, 154, 154, 0.6);
    border: 1px solid #ccc;
    width: 482px;
    height: 300px;
    top: 10%;
    left: 50%;
    margin-left: -241px;
    position: fixed;
    padding: 15px;
}

#results {
    position: relative;
    padding-top: 45px;
}

#followSettings {
    margin: 10px 0;
}

#followStatus {
    border-top: 1px solid #ccc;
    margin-top: 25px;
}

.tab-wrapper {
    list-style: none;
    position: absolute;
    right: 6px;
    top: 5px;
    padding: 0;
    margin: 0;

}

.tab-wrapper li {
    display: block;
    float: left;
    list-style-type: none;
    padding: 15px;
    background-color: #fff;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.tab-selected {
    z-index: 5;
}

.blue-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
    box-shadow: inset 0px 1px 0px 0px #cae3fc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee));
    background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #287ace;
    cursor: pointer;
}

.blue-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff));
    background: -moz-linear-gradient(center top, #4197ee 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color: #4197ee;
}

.blue-button:active {
    position: relative;
    top: 1px;
}

.error-message {
    color: red;
}
